@import "~src/themes/default";

.itemContainer {
  width: 100%;
  height: $overviewBox_height;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  @include sm {
    width: inherit !important;
  }
}

.itemContainer:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.itemIcon {
  height: $overviewBox_height;
  width: $overviewBox_height;
  text-align: center;
  line-height: $overviewBox_height;
  float: left;
}

.itemIcon mat-icon {
  font-size: calc(#{$overviewBox_height} - 5vh);
  line-height: $overviewBox_height;
  height: $overviewBox_height;
  width: $overviewBox_height;
}

.itemInfo {
  display: table;
  width: calc(100% - #{$overviewBox_height});
  height: 100%;
  float: right;
  text-align: center;
}

.bigInfo {
  font-size: xx-large;
  opacity: .75;
}

.textInfo {
  background-image: linear-gradient(90deg, $gradient_start, $gradient_end);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textwrapper {
  display: table-cell;
  vertical-align: middle;
}

