@import "~src/themes/default";

#mediaBox {
  width: 100%;
  height: 100%;
  float: left;
  transition: all .3s;
  @include sm {
    overflow-y: auto;
  }
}

.headline {
  width: calc(100% - 4vw);
  padding: 2vh 2vw;
  text-align: center;
  font-size: 5vh;
  margin-top: 10vh;
  @include sm {
    margin-top: 5vh;
  }
}

#controlBar {
  width: 85%;
  height: 5vh;
  text-align: right;
  @include sm {
    width: 100% !important;
    text-align: center !important;
  }
}

#controlBar mat-icon {
  cursor: pointer;
  opacity: .5;
}

#controlBar mat-icon.active {
  opacity: 1;
}

#controlBar mat-icon:first-of-type {
  margin-right: 1vw;
}

#mediaContainer {
  width: 100%;
  min-height: calc(100% - 18vh);
  height: auto;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  @include sm {
    flex-flow: column wrap;
  }
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 3vh 0 0 0;
  align-content: flex-start
}

.mediaItem {
  position: relative;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  width: $imageItem_W;
  height: auto;
  max-height: $imageItem_H;
  margin: 0 0 5vh 0;
  transition: all .3s;
  @include sm {
    margin: 1vh 0;
    width: 100%;
    max-height: 100%;
  }
}

.mediaItem:hover img {
  border: 2px solid black;
}

.mediaItem.list:hover img {
  border: none !important;
}

.mediaItem img {
  max-width: $imageItem_W;
  max-height: $imageItem_H;
  @include sm {
    max-width: 100%;
    max-height: 100%;
  }
  display: block;
  margin: 0 auto;
}

#detailMenu {
  display: none;
  float: right;
  height: calc(100% - 4vh);
  transition: all .3s;
  padding: 2vh;
  @include sm {
    padding: 2vh 0 2vh 0;
    overflow-y: hidden;
  }
}

#mediaBox.infoOpen {
  width: calc(100% - 27vw) !important;
  padding-right: 2vw;
  @include sm {
    width: calc(100% - 2vw) !important;
  }
}

#mediaBox.infoOpen #detailMenu {
  display: block;
  position: fixed;
  width: 25vw;
  right: 0;
  top: 0;
  @include sm {
    width: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
  }
}

#detailMenu #detailWrapper {
  position: relative;
}

#detailMenu #closeDetail {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  @include sm {
    left: 5vw;
    top: 5vh;
    font-size: 200%;
  }
}

#detailMenu #imagePreview {
  max-width: 22vw;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 1vh auto 0 auto;
  @include sm {
    max-width: 100vw;
  }
}

#specsBox {
  width: calc(100% - 4vw);
  height: calc(100vh - 44vh);
  padding: 2vh;
  margin: 0 auto;
  overflow-y: auto;
  @include sm {
    width: calc(100% - 9vw);
  }
}

#specsBox table {
  width: 100%;
  font-size: 130%;
  @include sm {
    width: calc(100% - 5vw) !important;
  }
}

#specsBox table tr {
  padding: 10vh 0;
  transition: all .3s;
  height: 5vh;
}

#specsBox table tr td:nth-of-type(1) {
  width: 10%;
  opacity: .5;
}

#specsBox table tr td:nth-of-type(2) {
  opacity: .5;
}

#specsBox table tr td:nth-of-type(3) {
  text-align: right;
  @include sm {
    padding-right: 5vw;
  }
}

/* LIST VIEW */
.mediaItem.list {
  width: 70% !important;
  height: 10vh !important;
  margin: 0 auto;
  padding: 2vh 0;
  transition: all .3s;
  @include sm {
    width: 90% !important;
    padding: 0 5%;
  }
}

.mediaItem.list:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.mediaItem.list img {
  max-height: 10vh;
  float: left;
}

.mediaItem.list .listSpecs {
  float: right;
  width: calc(100% - 10vw);
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  @include sm {
    width: calc(100% - 30vw);
  }
}

.mediaItem.list:not(:first-of-type) {
  margin-top: 2vh;
}

.mediaItem.list .listSpecsTitle {
  margin: 0 auto;
}

.mediaItem.list .listSpecsFileSize {
  float: right;
}
