@import "~src/themes/default";


#pageWrapper{
  width: 100%;
  height:100%;
}

/* Auth Section */
.authContainer {
  width: 25vw;
  height: 65vh;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  z-index: 300;
  @include sm {
    width: 100vw;
    height: 80vh;
  }
}

.authContainer .title {
  position: relative;
  width: 100%;
  text-align: center;
  height: 6vh;
}

.authContainer .title span {
  font-size: 4vh;
}

.gradientUnderline {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 20%;
  height: 7%;
  background: linear-gradient(to right, $gradient_start, $gradient_end);
}

.info {
  width: 100%;
  text-align: center;
  margin-top: 7%;
}

.highlight {
  color: $gradient_end;
  cursor: pointer;
  text-decoration: none;
}
.highlight:hover{
  text-decoration: underline;
}

.authContainer form {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
}

.authContainer mat-form-field {
  width: 100%;
}

.authContainer button {
  left: 50%;
  transform: translate(-50%, 0);
}

.authContainer button {
  margin-top: 3%;
}

/* CSS for the left Gradient corner */
#deco_leftBot {
  position: absolute;
  bottom: 0;
  width: 329px;
  height: 280px;
  z-index: 300;
  @include sm {
    opacity: 0;
    z-index: -1;
  }
}

#deco_leftBot, #deco_rightTop, .gradient.stop1 {
  stop-color: $gradient_start;
}

#deco_leftBot, #deco_rightTop, .gradient.stop2 {
  stop-color: $gradient_end;
  stop-opacity: 0.78;
}

/* CSS for the right Gradient corner */
#deco_rightTop {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 300;
  @include sm {
    width: 150px;
    height: 130px;
  }
}
