<div id="pageWrapper" [class.dark]="this.dataservice.darkmode">
  <div id="authContainer">
    <div class="title">
      <span>Register</span>
      <div class="gradientUnderline"></div>
    </div>
    <form>
      <mat-form-field>
        <input type="text" matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Firstname">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Lastname">
      </mat-form-field>
      <mat-form-field>
        <input type="email" matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Confirm Password">
      </mat-form-field>
      <mat-spinner-button class = "regBtn" (click)="register()" [options]="this.btnOpts"></mat-spinner-button>
      <br>
      <button routerLink="/login" mat-button color="warn">Back</button>
    </form>
  </div>
  <svg fill="none" height="280" id="deco_leftBot" viewBox="0 0 329 280" width="329"
       xmlns="http://www.w3.org/2000/svg">
    <path d="M140.5 133C111.337 55.2325 42.9639 23.7908 0 0V280H329C261.629 276.007 169 209 140.5 133Z"
          fill="url(#paint0_linear)"/>
    <defs>
      <linearGradient gradientUnits="userSpaceOnUse" id="paint0_linear" x1="-11.5351" x2="251.825" y1="0.499103"
                      y2="302.223">
        <stop class="gradient stop1"/>
        <stop class="gradient stop2" offset="1"/>
      </linearGradient>
    </defs>
  </svg>
  <svg fill="none" height="364" id="deco_rightTop" viewBox="0 0 423 364" width="423"
       xmlns="http://www.w3.org/2000/svg">
    <path d="M199.001 184C148.804 82.073 72.0006 14.3333 0.000549316 -6.00815e-05L428.001 -4.00006L424.001 364C344.5 342.5 264.5 317 199.001 184Z"
          fill="url(#paint0_linear)"/>
    <defs>
      <linearGradient gradientUnits="userSpaceOnUse" id="paint0_linear" x1="56.0006" x2="456.001" y1="-4.00005"
                      y2="447.5">
        <stop class="gradient stop1"/>
        <stop class="gradient stop2" offset="1"/>
      </linearGradient>
    </defs>
  </svg>

</div>
