@import '~src/themes/default';

#imageBrowser {
  max-width: 75vw;
}

.imgItem {
  max-width: 150px;
  float: left;
  margin: 5px;
}

img {
  max-width: 150px;
  cursor: pointer;
  transition: all .2s;
}

img:hover {
  opacity: .5;
}

#title {
  width: 100%;
  text-align: center;
  font-size: x-large;
}
