@import "../register.component";

.authContainer {
  border: 1px solid white;
  min-width: 280px;
  padding: 50px 50px 20px 50px;
  height: 70vh;
  @include sm {
    padding: 0;
  }
}

.authContainer .mailicon {
  position: relative;
  width: 100%;
  height: auto;
}

.authContainer .mailicon svg {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  @include sm {
    width: 50%;
    height: auto;
  }
}

.authContainer .mailBox {
  position: relative;
  text-align: center;
  height: calc(100% - 270px);
  margin-top: 3vh;
  @include sm {
    width: 90vw;
    margin: 3vh auto 0 auto;
    height: 100%
  }

}

.body a {
  color: #FF0000;
  text-decoration: none;
}

.body a:hover {
  text-decoration: underline;
}

.authContainer .mailBox .header {
  margin-top: 5%;
  font-weight: lighter;
  font-size: 3vh;
  @include sm {
    font-size: 4vh;
  }
}

.authContainer .mailBox .body {
  margin-top: 5%;
}

.authContainer .mailBox .actions {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
}

.authContainer .actions button {
  float: left;
  left: 0;
  max-width: 50%;
  transform: translate(0);
}

.mailicon.circle, .mailicon.lines {
  stroke: black;
}

.mailicon.gradient.start {
  stop-color: $gradient_start;
}

.mailicon.gradient.end {
  stop-color: $gradient_end;
}
