<div (onFileDropped)="uploadFile($event)" appDragNDrop class="uploadfilecontainer">
    <mat-icon id="placeholderFiller">upload</mat-icon>
  	<mat-icon id="placeholder">cloud_upload</mat-icon>
    <div class="uploadText">Drag Images to Upload<br>or</div>
  <div class="wrapButton">
  <div class="uploadButton" (click)="fileInput.click()">Choose Files</div>
  </div>
  <input #fileInput multiple (change)="uploadFile($event.target.files)" hidden type="file">
</div>
<!--<div class="queue">
  <div *ngFor="let file of files;let i= index" [class]="changeClasses(file)">
    <div class="text-Box">
      <div class="info">{{ file.name }} {{file.status}}</div>
      <button (click)="deleteAttachment(i)" class="delete-file">
        <img src="../../assets/Recycle_Bin_Full.png">
      </button>
    </div>
    <mat-progress-bar *ngIf="file.status === 'pending'" color="warn" mode="indeterminate"></mat-progress-bar>
  </div>
</div>-->
