@import "~src/themes/default";

$container_height: 18vh;

.uploadfilecontainer {
  /*height: $container_height;
  width: 10vw;
  float: left;
  border: 1px dashed black;
  overflow-y: hidden;
  margin: 0 0 0 9%;*/
  flex-flow: row wrap;
  margin: 0 0 0 9%;
  width: 14vw;
  height: $container_height;
  border-radius: 7px;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  @include sm {
    width: inherit !important;
  }
}
.uploadfilecontainer.list {
  position: relative;
  margin: 0 0 0 9%;
  width: 10vw;
  height: $container_height;
  border-radius: 5px;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  @include sm {
    width: inherit !important;
  }
}

#placeholder {
  line-height: $container_height - 8vh;
  font-size: 250%;
  color: black;
  margin-left: 6vw;
}

#placeholderFiller {
  display: none;
  z-index: -1;
  position: absolute;
  margin: 3.9vh 0 0 6.2vw;
  font-size: 200%;
  background-image: linear-gradient(90deg, $gradient_start, $gradient_end);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}*/

.queue {
  overflow-y: auto;
  max-height: $container_height;
}

.files-list {
  position: relative;
  float: right;
  display: flex;
  justify-content: space-between;
  width: calc(80% - 15px);
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.3);
  color: $gradient_start;
}

.files-list .text-Box {
  padding: 20px 5px 20px 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.files-list .info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 30px);
  text-align: left;
}

.files-list.uploaded {
  background-color: rgba(49, 110, 49, 0.1);
}

.files-list.cancelled {
  background-color: rgba(110, 1, 0, 0.1);
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-self: flex-end;
}

.files-list .delete-file img {
  width: 30px;
}

.files-list mat-progress-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.uploadText {
  height: 5vh;
  text-align: center;
}

.uploadButton {
  color: #f8772c;
  text-align: center;
}

.uploadButton:hover {
  color: $gradient_end;
  font-weight: 550;
  transition: all 0.1s;
}

.wrapButton {
  border: 2px solid black;
  margin-left: 30%;
  height: 20px;
  width: 100px;
  background-color: black;
  border-radius: 5px;
  padding-top: 0.2vh;
}

.wrapButton:hover {
  cursor: pointer;
  background-color: white;
  transition: all 0.2s;
}

.wrapButton:active {
  cursor: default;
  background-color: black;
}
