@import "~src/themes/default";

$container_height: 25vh;

.uploadfilecontainer {
  height: $container_height;
  width: 30vw;
  float: left;
  border: 1px dashed black;
}

.uploadfilecontainer #placeholder {
  line-height: $container_height;
  height: $container_height;
  width: 100%;
  font-size: large;
  color: gray;
  text-align: center;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.queue {
  overflow-y: auto;
  max-height: $container_height;
}

.files-list {
  float: right;
  display: flex;
  justify-content: space-between;
  width: calc(80% - 15px);
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 5px 5px 20px;
  color: $gradient_start;
}

.files-list.uploaded {
  background-color: rgba(49, 110, 49, 0.1);
}

.files-list.cancelled {
  background-color: rgba(110, 1, 0, 0.1);
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}
