@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento&display=swap');
@import "~src/responsive";
@import '~@angular/material/theming';


/* GLOBAL VARIABLES */
$gradient_start: #f5b042; // AD00FF
$gradient_end: #FF0000;
// Loading Screen color
$color-loader: #ce4233;
// Dashboard OverviewBox Height
$overviewBox_height: 10vh;


@include mat-core();

$instantGrade-primary: mat-palette($mat-blue-grey, 800);
$instantGrade-accent: mat-palette($mat-red, 400);
$instantGrade-warn: mat-palette($mat-deep-orange);
$instantGrade-theme: mat-light-theme($instantGrade-primary, $instantGrade-accent, $instantGrade-warn);
@include angular-material-theme($instantGrade-theme);

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange, 400);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

/* GLOBAL STYLE */
body, html {
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* -= DARK MODE SETTINGS =- */
.dark {
  @include angular-material-theme($dark-theme);
  background-color: #1C1C1C !important;
  color: white;
}

.dark .highlight {
  color: #ff7357;
}

/* __ LOGIN __ */
.dark .authContainer {
  background-color: #1C1C1C;
}

/* __ Mail Components (success/failed) __*/
.dark .mailicon.circle, .dark .mailicon.lines {
  stroke: white;
}

.dark .mailFailed {
  stroke: #ff7357;
}

.dark .body a {
  color: #ff7357;
}

/* Loading Screen */
.dark .loadingWrapper {
  background-color: #1C1C1C;
}
