<div [class.dark]="this.dataservice.user.settings.darkmode" id="wrapper">
    <div id="toolSettings">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let setting of this.settings">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{setting.category}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- SLIDER SECTION -->
                <div *ngFor="let child of setting.children" class="sliderBox">
                    <div (click)="slider.value = child.value; makeChanges(setting.category, child.title, slider.value)"
                         class="optionText">{{child.title}}</div>
                    <mat-slider #slider (input)="makeChanges(setting.category, child.title, slider.value)"
                                (mouseWheelDown)="mousewheelAction('DOWN', child, slider, setting.category)"
                                (mouseWheelUp)="mousewheelAction('UP', child, slider, setting.category)"
                                [max]="child.max" [min]="child.min"
                                [step]="child.step" [value]="child.value" color="primary" mouseWheel></mat-slider>
                    <div (click)="makeEditable(child);" class="sliderValue">
                        <span *ngIf="!child.editValue">{{slider.value}}</span>
                        <mat-form-field *ngIf="child.editValue" class="editValue">
                            <input #sliderInput
                                   (keydown.enter)="saveNewValue(slider, child, sliderInput, setting.category)"
                                   [value]="slider.value" matInput type="number">
                        </mat-form-field>
                    </div>
                </div>


            </mat-expansion-panel>
        </mat-accordion>

    </div>
    <div (mouseWheelDown)="zoomImage('DOWN')" (mouseWheelUp)="zoomImage('UP')" id="imageArea" mouseWheel>
        <div id="previewIMG"><img LazyLoad [src]="this.dataservice.settings.domain + this.dataservice.gradingImage.path"
                                  alt="Preview-Image"
                                  draggable="false"></div>
    </div>
</div>
